[2019-05-19 12:22] KarthikRIyer opened #8 "Add basic SubPlot support"
Add basic SubPlot support with the graphs stacked horizontally and vertically

[2019-05-20 10:03] KarthikRIyer opened #10 "Add support to plot functions in LineGraph"

[2019-05-20 14:32] BradLarson commented on #10
As a comment on the design of this, it'd be great to have this use a function / closure as a parameter for this. Something of the type `(Numeric) -> (Numeric)` for an f(x), for example. This would allow for arbitrarily complex functions to be passed in. Might have to think about the signature for that, to account for parametric functions with more than one Y value at a given X, though.

You'd have

[2019-05-20 14:45] KarthikRIyer commented on #10
I have overloaded the addSeries  function with (Float)->Float as a parameter at the moment. I'll get simple functions to plot first and then move on to multiple Y and NaN cases.
I am also accepting the number of samples also as an Int.
Does that seem fine?

But first I'll have to change the plotting logic. I don't know how or why, but I forgot to consider negative values😅  So now the line goes bel

[2019-05-20 15:04] BradLarson commented on #10
That sounds like a good plan for now. Best not to over-architect things initially, and build or revise interfaces as they are needed for different capabilities.

Yeah, the lack of negative support is a great example of why the little test applications are so useful to have early on. I always forget something, and building against the test applications and checking their output helps to point out e

[2019-05-22 14:37] KarthikRIyer opened #12 "Add multiple independent y axes feature to LineGraph"

[2019-05-23 05:30] KarthikRIyer opened #13 "Display plots in Jupyter"

[2019-05-23 05:30] #8 closed

[2019-05-23 10:11] KarthikRIyer commented on #13
@marcrasi
Is there a way to find out if the code is running in the terminal or jupyter notebook/colab? I found some ways in python on stackoverflow. I thought I could do the same in swift.
I wrote this to try:

[code]
But this gave me a fatal error both in colab and terminal.

[code]
This is what I was referring to: https://stackoverflow.com/a/24937408/9126612

[2019-05-23 13:19] #10 closed

[2019-05-23 16:52] KarthikRIyer commented on #12
For this I was thinking we can have a primary and secondary axis in LinePlot. While adding the series we can assign which axis we wan to use, which would be the primary one by default. For differentiating which axis a series belongs to we can maybe make the lines dashed...
Any ideas?

In matplotlib, the new axis is twinned with an existing axis, so the new axis is plotted opposite to the existing

[2019-05-23 17:30] marcrasi commented on #13
I think that you should not put the "draw in jupyter" logic inside this library -- you should instead provide an interface in this library that lets jupyter extract the data that it needs, and then add some code to swift-jupyter that actually draws it. This way, the code won't have to detect whether it's running inside a notebook. It can just serve data through its interface, and the client can wo

[2019-05-23 19:15] KarthikRIyer commented on #13
@marcrasi I've opened PR for the display function in the swift-jupyter repo

[2019-05-24 19:18] KarthikRIyer commented on #13
@marcrasi should I make the changes suggested by rxwei and open another PR?

[2019-05-24 19:43] marcrasi commented on #13
Yes please, that would be good!

[2019-05-24 20:09] KarthikRIyer commented on #13
Done

[2019-05-27 19:43] KarthikRIyer commented on #12
Any ideas?

[2019-05-28 14:42] #13 closed

[2019-05-29 12:12] KarthikRIyer opened #17 "Implement basic BarChart functionality"

[2019-05-30 03:50] marcrasi opened #18 "plotting in jupyter without using python"
Currently, you can make inline plots in Jupyter by asking swiftplot for a base64 encoded png and then passing that to [`display(base64EncodedPNG:)`](https://github.com/google/swift-jupyter/blob/77aae916c14d0ce8daf0bd09554b77641c684652/EnableIPythonDisplay.swift#L84). But `display(base64EncodedPNG:)` is implemented using Python and it would be nice to do it using native Swift.

[`KernelCommunicator

[2019-05-30 18:46] #12 closed

[2019-06-04 20:28] KarthikRIyer opened #22 "Implement horizontal and stacked bar chart"

[2019-06-04 20:29] #17 closed

[2019-06-10 10:31] KarthikRIyer commented on #18
@marcrasi
when I try to print `displayMessages` in `consumeDisplayMessages` I get
`[__lldb_expr_1.KernelCommunicator.JupyterDisplayMessage(parts: [__lldb_expr_1.KernelCommunicator.BytesReference, __lldb_expr_1.KernelCommunicator.BytesReference, __lldb_expr_1.KernelCommunicator.BytesReference, __lldb_expr_1.KernelCommunicator.BytesReference, __lldb_expr_1.KernelCommunicator.BytesReference, __lldb_e

[2019-06-10 10:36] KarthikRIyer opened #24 "Implement Scatter Plot"

[2019-06-10 17:46] #22 closed

[2019-06-11 02:33] BradLarson opened #26 "AGG code currently doesn't compile on Mac"
I just pulled down the project to try to build on my Mac, and with the project as it is it throws errors about the right angle brackets in some of AGG's code. This looks like it's using the wrong C++ version by default:

https://stackoverflow.com/questions/8303955/clang-c11-invocation

so I believe that by changing the lines at the end of Package.swift to read

[code]

that should fix it. It solve

[2019-06-11 14:44] KarthikRIyer commented on #26
@BradLarson it works on my end.

[2019-06-11 15:16] KarthikRIyer opened #27 "Provide data beyond Float pairs"

[2019-06-13 03:39] marcrasi commented on #18
If you add a custom description to the BytesReference (in KernelCommunicator.swift), it should print out something more informative:
[code]

PythonObject is a magical thing using dynamicMemberLookup that lets you access fields on the underlying python object that it refers to. In this case, the "socket" gets constructed here: https://github.com/google/swift-jupyter/blob/77aae916c14d0ce8daf0bd09554

[2019-06-15 06:56] KarthikRIyer commented on #18
@marcrasi sorry for the late reply. I'll got hrough the links above, and try to get a better understanding of what's going on and what I need to do this weekend. I think I might need a little bit more time to implement this.

[2019-06-16 13:33] KarthikRIyer commented on #18
@marcrasi the description was as follows:

display_data
<IDS|MSG>
4326a28f31796adb360892e9c8f3768018f267d9dd9c83ad1704d2b7d2fb5955
{"version":"5.3","date":"2019-06-16T10:49:34.713911Z","session":"02b0c143-470869163c6607700f0d5e72","username":"karthik","msg_type":"display_data","msg_id":"e9136fe3-a6ebe33878d97aec10c2c781"}
{}
{}
{"data":{"image/png":"<base64 image here>\n","text/plain":"<IPython.co

[2019-06-16 17:52] KarthikRIyer commented on #18
@marcrasi I tried to implement this. Here's a gist: https://gist.github.com/KarthikRIyer/064d90f4895df5f0592de48e9259b152

But this does not work. I am also unable to print and debug.
I get this in the terminal

[code]
What am I doing wrong? Am I missing something?

[2019-06-17 16:39] #26 closed

[2019-06-17 16:39] #24 closed

[2019-06-18 09:30] KarthikRIyer commented on #18
@marcrasi any ideas regarding this?

[2019-06-18 18:59] marcrasi commented on #18
Nice start! I experimented with it a bit and made a few changes to get it working: https://gist.github.com/marcrasi/3e11704c135481f21d2abd73c4e32b16

That works for me, if I run jupyter with `jupyter notebook --Session.key='b""'`, to disable message signing.

It still needs some cleanup. For example, I used Python to do some JSON decoding, which defeats the purpose of writing a pure-Swift implemen

[2019-06-18 20:35] KarthikRIyer commented on #18
@marcrasi thanks a lot for fixing it! I've converted the python JSON part to Swift:
https://gist.github.com/KarthikRIyer/064d90f4895df5f0592de48e9259b152

Now for the message signing I think the relevant part I should be looking at is:
[code]
stated here: https://jupyter-client.readthedocs.io/en/stable/messaging.html

For SHA256, If we want to include CommonCrypto, we'll need a bridging header. Ho

[2019-06-19 03:36] marcrasi commented on #18
I don't know what bridging headers are or how we'd get them to work in
jupyter. Is there an explanation somewhere of what they are?

It seems that there are some existing Swift packages with crypto functions.
We could require that users of "EnableSwiftDisplay" install one of those
using "%install". Though ideally the "EnableSwiftDisplay" would not have
any dependencies, so that it's really quick a

[2019-06-19 04:09] KarthikRIyer commented on #18
https://stackoverflow.com/a/38788437/9126612
I was looking at this way to use sha256.
Bridging headers are header files that let you import Objective-C code into Swift.
Here are pics for Importing obj-c in swift:
https://developer.apple.com/documentation/swift/imported_c_and_objective-c_apis/importing_objective-c_into_swift

I'll have to look if we can lift the code from somewhere.

[2019-06-19 04:35] BradLarson commented on #18
So I've used CommonCrypto before with Swift, and here's a sample bridging header for it:

[code]

There's also a modulemap that can be used to pull this into a framework.

However, CommonCrypto isn't available on non-Mac platforms, so I don't think that will help here. There's IBM's BlueCryptor: https://github.com/IBM-Swift/BlueCryptor , but I don't know how heavy of a dependency you want to intro

[2019-06-19 09:05] KarthikRIyer commented on #18
@BradLarson I'm trying out BlueCryptor. It doesn't compile with the S4TF toolchain. It comiles with the original Swift release.
I was trying out the example that they gave in the docs:

[code]
I added a few lines to convert the hmac into a String. This says that the result is not a valid UTF-8 sequence. I printed out the hmac variable and got this:
`Optional([176, 52, 76, 97, 216, 219, 56, 83, 92,

[2019-06-19 14:16] KarthikRIyer commented on #18
I asked on IBM Swift's Slack. String is hex so I had to use another function fromtheir lib to get a String.
But I cant use the official swift release with swift-jupyter beacue it doesnt have python 3.6 support. I'm able to compile Cryptor using the latest S4TF nightly build but I don't know why it too doesn't have python 3.6.
So now I'm trying to build it myself.

[2019-06-20 06:00] KarthikRIyer commented on #27
@BradLarson @marcrasi, as the first evaluation is coming up on 24th, is there anything specific I need to complete before that?
I am trying to change one plot to Generics and see how that works out. If that I am unable to get it working before the first evaluation maybe I can update the documentation for the work done till now.

[2019-06-20 09:10] KarthikRIyer commented on #18
@marcrasi I think using the library @BradLarson suggested is a good option. I got the signing to work using it. But the current nightly build of S4TF doesn't have python3.6 so we can't use it with swift-jupyter. I had to build it myself with python3. The swift version that Google Colab is using right now is not able to compile the BlueCryptor library.
But the nightly build with python3 should work

[2019-06-20 10:54] KarthikRIyer commented on #27
Now I am not sure if generics is the correct way to proceed.
I am unable to use operators like:
[code]
Even if I write a protocol Addable overloading the + operator, it wont work because then I still wont be able to use other operations like * - / etc.
If I write protocols for each of these then I wont be able to use String.

Making the input for each plot conform to specific protocols seems like

[2019-06-20 17:55] marcrasi commented on #18
Cool!

I don't understand what the problem with python3.6 and the S4TF nightly is. The tests that we run on the nightly builds run swift-jupyter on a system with python3.6, and they are passing. So it should work. Is it not working for you?

I have a lot of comments on the implementation, but a PR is a good place to do comments, so feel free to open one whenever :) Here's my initial round of comme

[2019-06-20 18:02] KarthikRIyer commented on #18
When I downloaded the nightly build no python 3.6 folder was present. I downloaded one yesterday.

I'll complete the above tasks and open a PR.

Is there a plan to cut off Python interop? Why so? Isn't it good to have interop with multiple languages?

[2019-06-20 18:10] marcrasi commented on #27
No, you've already done everything I'm looking for in the first milestone and you're doing really great in everything the evaluation asks about :)

[2019-06-20 18:13] marcrasi commented on #18
We never plan to remove it. But a long term goal of our project is to build up enough libraries in Swift that Python interop becomes unnecessary nearly all the time. (Having a plotting library in Swift is one part of that :D).

[2019-06-20 18:15] KarthikRIyer commented on #18
Oh ok. I understand.

[2019-06-20 18:17] marcrasi commented on #27
about generics, I haven't thought much about how you could use them for plotting data types, but here's an initial answer to your question.

If you make `Point` generic over the x and y types like `Point<X, Y>` then you can define operations that only make sense for certain types of point like this:
[code]

[2019-06-20 18:25] KarthikRIyer commented on #27
Thanks! I didn't know that we could write such generic specific extensions. I'll try this and see if it helps.

[2019-06-20 21:23] BradLarson commented on #27
@KarthikRIyer - On the matter of evaluations, as Marc said, you're doing great. You've hit the initial milestone objectives and gotten this to a demonstrable state both at the console and in Jupyter notebooks.

In fact, your work in using lodepng, setting up your Swift / C / C++ targets, and interacting with Jupyter  was really informative to watch and helped me finally get my GPUImage framework o

[2019-06-20 21:38] KarthikRIyer commented on #27
@BradLarson glad that working together on this helped you too!
I'm hoping to complete all the milestones by the second evaluations, and then maybe I can work on supporting macOS and iOS.

[2019-06-20 21:39] KarthikRIyer commented on #18
@marcrasi PR opened

[2019-06-24 18:11] KarthikRIyer commented on #27
@BradLarson @marcrasi I don't think generics is a good because when I started by turning the Point type to a generic, I eventually realised that I had to convert all types to generics. Even the types like Series, Axis, etc. It's also becoming kind of difficult to handle different types. For example:
If I need to find the number of digits in 324.01, before, I converted it into Int which gave me 324

[2019-06-26 07:12] KarthikRIyer commented on #27
Till this is figured out I'll start work on histogram.

[2019-06-26 07:14] KarthikRIyer opened #28 "Implement Histogram"

[2019-06-27 17:54] KarthikRIyer opened #29 "Cannot plot axis markers with values between 0 and 1"
This has to be solved in all the plots. I'll do this after finishing up histogram, in a separate PR for all the plots.

[2019-06-28 15:57] #18 closed

[2019-06-28 20:30] KarthikRIyer commented on #28
This is almost done. There are some bugs to sort out in stacked histogram for step type. I hopefully should be able to open a PR for this by tomorrow.

[2019-06-29 19:23] KarthikRIyer commented on #27
Also could you give me an idea of how people would want to plot using Tensors?
I gave this a fleeting look: https://www.tensorflow.org/swift/tutorials/model_training_walkthrough
But in the end plotting is done using arrays

[2019-06-30 17:24] BradLarson commented on #27
Sorry I've been away from this, have been busy with other matters. For types, I think it's worth approaching this from the standpoint of what is needed by the plot types and what people will want to provide as inputs.

For a scatter plot, for example, your plots will need a type on the X and Y axes that can be converted to a floating-point number so that display arithmetic can be done with it. For

[2019-06-30 17:28] BradLarson commented on #27
Also, is pairing off each datapoint going to work for all cases? In a scatter plot, I can see people wanting to provide two or more series of Y values that share the same series of X values. Is this approach generic enough to support that?

[2019-06-30 17:46] KarthikRIyer commented on #27
I'll try working with the Pair<> approach.

Regarding the scatter plot, input is in given as an array for x and an array for y using the addSeries function....
So if we need the same x values and different y values we can just add another series passing in the same x array.

[2019-06-30 18:04] KarthikRIyer commented on #27
@BradLarson just one clarification...On the user end API do we want the users to pass in arrays as it is being done now, or would they pass in an array of Pair<Float,Float>?

[2019-07-09 21:41] BradLarson opened #32 "Default aesthetics of the plots"
Now that this is getting close enough to the point where people can start using it in notebooks, etc., I think it might help to improve some of the default aesthetics of the plots. The default settings for plots are producing graphs that aren't as aesthetically pleasing as other frameworks, but with a few slight tweaks to fonts, line size, spacing of numbers from the axis hatching, etc. I think th

[2019-07-13 21:20] KarthikRIyer commented on #32
I'll get to work on this next.

[2019-07-13 21:20] #28 closed

[2019-07-13 21:23] KarthikRIyer commented on #27
Leaving this open for now. Just in case we need to make changes to this part in the near future.

[2019-07-18 14:01] KarthikRIyer commented on #32
@BradLarson @marcrasi to use a different font with AGG I will need to import truetype as a dependency. AGG has provisions to use different fonts using truetype. So, I tried importing this:  https://github.com/PureSwift/CFreeType

but I am getting this error:
[code]

The repo has a 1.0.4 tag. Am I doing something wrong?
Meanwhile I'll get to work on #29

[2019-07-18 16:07] BradLarson commented on #32
By adding FreeType as a dependency, will that require FreeType to be installed as a library before using the AGG renderer? Or is that commonly installed on systems and in environments like Colab?

What are you using in your Package.swift to pull in CFreeType? That error does sound odd, but I've hit that when I was trying to do an exact match and I got the release numbers slightly wrong.

[2019-07-18 16:12] KarthikRIyer commented on #32
FreeType is commonly installed on Ubuntu atleast.

 I think the release number isn't a problem, because I cloned the repo,  deleted the git repository, initialized my own git repository, pushed my own tag, but still got the same error.

[2019-07-18 16:13] BradLarson commented on #32
Sorry, mean to ask: what is the exact code you're using in your Package.swift? I can try it on my end with a dummy project to see if I can figure out what's wrong.

[2019-07-18 16:16] KarthikRIyer commented on #32
[code]

[2019-07-18 16:35] BradLarson commented on #32
Ah, I think the real problem might be due to CFreeType relying on Swift Package Manager 3.0.2 tooling. If I instead use

[code]

I get the following error:

You could try forking that and updating the CFreeType package's tools version on your end to see if that lets you import it.

[2019-07-21 13:23] KarthikRIyer commented on #32
This was the problem. I am able to import it now.

[2019-08-06 08:11] KarthikRIyer commented on #32
@BradLarson @marcrasi I'm trying to use the code from this branch in Jupyter. But I'm unable to use FreeType there:

[code]

This is what I get. Also in the terminal I get this:
`'CFreeType' /home/karthik/swiftplot/.build/checkouts/CFreeType: warning: system packages are deprecated; use system library targets instead
`
I tried searching on the web. But nothing helped. Any ideas?

[2019-08-12 18:36] marcrasi commented on #32
It works when you do `swift build` / `swift run`, but you get that error when you try to use it through jupyter?

Is it possible that you're using different versions of the swift toolchain from the commandline and from jupyter? Try running these commands to see:
* `which swift`
* `swift package --version`
* `<path to toolchain used in jupyter>/usr/bin/swift package --version`

Maybe changing it to

[2019-08-12 19:45] KarthikRIyer commented on #32
Yes

I do not remember remember the path which I used with jupyter. (I've got two versions). But I am pretty sure I must be using the same one.

Using the system library targets gave errors when building on Mac. That's why I changed it.

[2019-08-17 17:47] #29 closed

[2019-08-17 17:49] KarthikRIyer opened #34 "Add CoreGraphics Renderer for macOS"

[2019-08-22 19:50] KarthikRIyer commented on #32
@marcrasi any ideas on how to get FreeType working in Jupyter?

[2019-08-26 15:42] marcrasi commented on #32
I'll try to run it myself today and see if I can figure anything out.

[2019-08-27 03:28] marcrasi commented on #32
Try adding this. I think it made it work for me:
`%install-swiftpm-flags -Xcc -isystem/usr/include/freetype2 -Xswiftc -lfreetype`

[2019-08-28 15:36] KarthikRIyer commented on #32
Thanks @marcrasi it builds now!
But plotting in Jupyter isn't working.
It still works with the old code. The one tagged 0.0.1 on GitHub.
I'll try to look into it soon.
I'm getting this error in the terminal https://pastebin.com/Ty00PWg8
Did you try out an example plot? Did it work for you?

[2019-11-20 15:12] sedurCode opened #37 "Fails to import with swift package management in xcode"
When creating a swift application in Xcode 11 for macOS, a package.swift file is not created and linked with the project. As such I am not sure how to follow the documentation for how to include this package in my project.

As per this doc: https://developer.apple.com/documentation/xcode/adding_package_dependencies_to_your_app
It would appear apple are very keen for users to use their tool for dep

[2019-11-25 17:06] KarthikRIyer commented on #37
@sedurCode thanks for pointing out this issue! I'm not sure how we could resolve this at the moment. I use Swift on Linux and am new to XCode. I'll try to look into it and revert back.

[2019-11-25 18:59] KarthikRIyer opened #38 "Implement new chart type - Pie Chart"
A pie chart is a circular graph that shows the relative contribution that different categories contribute to an overall total. A wedge of the circle represents each category’s contribution, such that the graph resembles a pie that has been cut into different sized slices.

This task will require you to implement the following:
- A new plot type (PieChart) similar to LineChart, BarChart implemented

[2019-11-25 19:13] KarthikRIyer opened #39 "Implement new chart type - Polar Plot"
The current LineChart implementation uses rectangular coordinates. It would be good to have a plot type that helps us plot data using [polar coordinates](https://en.wikipedia.org/wiki/Polar_coordinate_system).
Details about what a polar plot is can be found [here](http://mathworld.wolfram.com/PolarPlot.html).
A simple example of a polar plot can be found [here](https://matplotlib.org/gallery/pie_a

[2019-11-25 19:29] KarthikRIyer opened #40 "Allow adding a text watermark to all the plots"
This task will require you to implement the following:

- Add a new feature to existing plots that let the end users specify some text and use it as a watermark for their plot. The text drawing functions already exist. You need to add a function to the plot types that accept a String and use the drawing functions to add a watermark.

[2019-11-25 19:45] KarthikRIyer opened #41 "Allow stacking data sets in Line Chart"
A stack plot is similar to a Line Plot, the difference being that the data sets are stacked over one another. A simple example can be found [here](https://matplotlib.org/gallery/lines_bars_and_markers/stackplot_demo.html#sphx-glr-gallery-lines-bars-and-markers-stackplot-demo-py).

This task will require you to implement the following:
- Add functions to AGG and SVG renderers to allow drawing of so

[2019-11-26 20:20] karwa opened #43 "Change `Point` to be a Double"
Both AGG and CoreGraphics draw lines, curves, etc with double precision. It would be nice if our Points were also Doubles (rather than Floats). I doubt it makes a perceptible difference to the output (maybe at retina scales where the images are drawn 2-3x their normal size?), but it would reduce the number of conversions we need to do and just generally make things cleaner.

[2019-11-27 12:37] KarthikRIyer commented on #37
@sedurCode #42 might solve this issue. Can you try importing from master?

[2019-11-27 19:37] #34 closed

[2019-11-27 22:15] sedurCode commented on #37
Successfully imported from exemplary of karwa's branch. will now try from master of this branch

[2019-11-27 22:18] sedurCode commented on #37
Successfully imported from master of this repo.
Now need to get the package working.
Thank you for addressing this :) 👍

[2019-11-28 10:55] sedurCode commented on #37
Although I can import and compile a program that uses example code from the README, I now get the error:
dyld: Library not loaded: /usr/local/opt/freetype/lib/libfreetype.6.dylib
  Referenced from:
.....
  Reason: no suitable image found.  Did find:
	/usr/local/opt/freetype/lib/libfreetype.6.dylib: code signature in (/usr/local/opt/freetype/lib/libfreetype.6.dylib) not valid for use in process usi

[2019-11-29 18:17] KarthikRIyer commented on #37
@sedurCode do you have freetype installed on your system? If not could you try again after installing it? In case you're unable to install it using homebrew you can also install it from the source that you'll find here: https://www.freetype.org/download.html

[2019-11-30 17:35] sedurCode commented on #37
I only have it installed with homebrew, so I will try and alternative source

[2019-12-04 09:46] rickwierenga opened #53 "Fails to install in Colab"
I was trying to install SwiftPlot in Colab, but got an error at installation. It's the first cell to be run.

Code:
[code]

Error:
[code]

Let me know if you need additional information.

[2019-12-04 10:12] karwa commented on #53
There seems to be a problem with the separate freetype package (see #37), which the tagged version 1.0.0 is still using. Switch to master instead:

[code]

Also, you need to tell it to build the AGGRenderer now by adding that alongside "SwiftPlot".

[2019-12-04 10:14] #53 closed

[2019-12-04 10:41] KarthikRIyer commented on #53
@rickwierenga you also need to include this in the 1st cell:
`%install '.package(url: "https://github.com/IBM-Swift/BlueCryptor.git", from: "1.0.28")' Cryptor`

I dont know why I included it in the swift-jupyter docs but missed it here. Anyways, I've updated the docs.

[2019-12-04 18:58] odmir opened #57 "Misaligned Histogram Output with CoreGraphics"
I was doing some testing with histograms and found out that for some reason the CoreGraphics renderer has a weird y- and x-offset bug, compare:

SVG output:
<img width="994" alt="Screenshot 2019-12-04 at 18 54 19" src="https://user-images.githubusercontent.com/278662/70171933-9c9c1880-16c7-11ea-86e7-7dfe562ed9ac.png">

CoreGraphics output:
![_24_histogram_stacked_step_line_joins](https://user-imag

[2019-12-04 19:42] rickwierenga commented on #53
So I installed it and everything is imported correctly. However, nothing is showing in the notebook. I inspected the base64 encoded image and it's almost completely filled with A ([pastebin](https://pastebin.com/W7vhAt72)). I don't think this really represents an image... This is supposed a plot of just 15 points. Does anyone know if this is a common issue?

[2019-12-04 20:22] KarthikRIyer commented on #53
@rickwierenga This has happened before with me, but I am not sure why. I'm trying to figure it out. Till then you could use the compiler in the terminal, or xcode to get started. SwiftPlot doesn't require the S4TF toolchain.

[2019-12-04 20:45] karwa commented on #57
Can you post the exact code you used?

[2019-12-04 20:52] odmir commented on #57
I essentially just copied the code from `histogram-stacked-step.swift` and changed the data and bins:
[code]

[2019-12-04 22:00] karwa commented on #57
Fixed in the linked PR. The errors also affect AGG - the only reason SVG looked correct is because it happened to be the first one we rendered with.

This is a good example of why to prefer value types; it's easier to manage your state.

[2019-12-04 22:25] odmir commented on #57
I checked your PR and I see that it fixed the issue. I don't know if I'm being picky or if it due to floating point errors or something like that, but is it possible that there is still some offset between the different renderers?
For example, in AGG the lines seem to be slightly before the supposed place, while in CG it seems to be slightly after and in SVG while it seems like it is properly alig

[2019-12-04 23:37] karwa commented on #57
No, you're not being picky - the charts absolutely should be accurate. It seems like we have a bug there, but it may not be a trivial fix. There's a lot of investigating to do, for example:

* Does this affect any other charts? For example, is the line graph pixel-accurate? If the other charts are fine, it indicates something wrong with how we are drawing the histogram.
* What about different line

[2019-12-05 09:10] #57 closed

[2019-12-05 10:46] KarthikRIyer commented on #53
@rickwierenga I don't know for sure but I don't think the problem is on SwiftPlot's side. A test has been added recently checking if the base64 encoding works. That doesn't seem to fail. I tried plotting using [swift-jupyter](https://github.com/google/swift-jupyter). It works when I try plotting for the first time, but when I re-execute the cell with the plotting code, I get the same issue. I've a

[2019-12-05 18:38] odmir commented on #57
I'm currently working on the third point you mention, changing histogram to use polyline and improving the algorithm to work on (hopefully) all edge cases, that's also why I noticed this issue.

[2019-12-05 20:23] karwa commented on #57
Oh that's cool - I'm looking forward to it. It would be nice to have some tests with more than 1 stacked dataset, too.

[2019-12-06 08:51] KarthikRIyer commented on #53
@rickwierenga it should now work in swift-jupyter. But it still doesn't work on colab.

[2019-12-07 17:35] WilliamHYZhang commented on #40
Hi, I'm planning on implementing this soon. Thanks!

[2019-12-09 22:36] WilliamHYZhang commented on #40
Hi, thanks so much for your kind help before getting set me up with swiftplot on the Google Group. I was looking through the source files and was wondering where I should put the code to add the feature. I see the drawText function in /Sources/SwiftPlot/Renderer.swift, however, I don't know where the "plot types" file is.

[2019-12-10 09:29] KarthikRIyer commented on #40
@WilliamHYZhang The Plot Types are in the SwiftPlot directory, for example BarChart.swift, LineChart.swift, etc. You do not need to add the function to draw text to each of these plots. Take a look at BarChart.swift for example and try to understand how it works. As a hint, you would need to make changes to GraphLayout.swift, which is the file that contains the code to draw stuff that's common to

[2019-12-10 10:58] karwa commented on #40
@WilliamHYZhang Just some implementation advice here:

If you take [a look at Matplotlib](https://matplotlib.org/3.1.1/gallery/index.html#text-labels-and-annotations), you'll see that [watermarks and text labels](https://matplotlib.org/3.1.1/gallery/text_labels_and_annotations/watermark_text.html#sphx-glr-gallery-text-labels-and-annotations-watermark-text-py) are just one of the kind of annotation

[2019-12-10 11:33] WilliamHYZhang commented on #40
Thank you for the guidance! Currently, I'm stuck on another task which prohibits me from claiming this one, so I thought I'd get a head start working on this task in the meantime. I will definitely take a look at the Matplotlib files and try to implement something similar to their watermark annotations in swiftplot.

[2019-12-10 15:28] boronhub commented on #41
Hi, I'm interested in working on this.

[2019-12-10 15:32] KarthikRIyer commented on #41
@boronhub that's great! You should claim the task on the GCI website and also state there that you're interested in working on this issue. If you have any other questions, feel free to ask.

[2019-12-10 15:34] boronhub commented on #41
One of my other tasks still hasn't been reviewed, so I can't claim it yet. Can I still start work on this so as to familiarize myself with SwiftPlot ?

[2019-12-10 15:35] KarthikRIyer commented on #41
@boronhub sure!

[2019-12-10 15:38] boronhub commented on #41
Is there a Google Group or an IRC where we can discuss this ?

[2019-12-10 15:40] KarthikRIyer commented on #41
There is a Google Group for Swift for TensorFlow, but I prefer we discuss it here in GitHub issues.

[2019-12-10 15:46] boronhub commented on #41
The changes have to be made in LineChart.swift, right ?

[2019-12-10 16:48] KarthikRIyer commented on #41
@boronhub yes. You need to make changes in LineChart.swift.
You can create a file LineChartSeriesOptions.swift similar to HistogramSeriesOptions.swift. Using that you can decide if you want the plot to be stacked or not.

[2019-12-10 17:02] KarthikRIyer commented on #41
@karwa do you have any suggestions regarding this?

[2019-12-10 18:02] karwa commented on #27
I have some things to add to this discussion (which is very old, I know).

Over the last week or so, I added a heatmap ([example output](https://github.com/karwa/swiftplot/blob/dev/Tests/SwiftPlotTests/Reference/agg/testHeatmap().png)). While doing so, I started to wonder about a couple of things:

- It would be great to accept generic (user-provided) sequences/collections. For 2D data like Heatma

[2019-12-10 18:25] karwa commented on #41
Not particularly - just to follow the example set by `BarGraph` when it comes to stacking.

Matplotlib calls this a [`stackplot`](https://matplotlib.org/examples/pylab_examples/stackplot_demo.html) and has this as a separate kind of chart. I think that would probably also make sense for us, rather than combining it with the line chart (for example, you can't have multiple series on a line chart if

[2019-12-10 18:30] KarthikRIyer commented on #41
I agree. @boronhub you could make a new chart type. I think you should be able to lift most of the code from line chart and make the required changes to get it working.

[2019-12-10 19:02] KarthikRIyer commented on #27
@karwa the above results are really cool! Although I don't understand how all this works, I'm not as proficient in swift yet.
Could you give me an idea of how this part works?
[code]

[2019-12-10 19:21] karwa commented on #27
@KarthikRIyer Sure - so `.plots` is a [namespace struct](https://github.com/karwa/swiftplot/blob/dev/Sources/SwiftPlot/SequencePlots.swift#L9). Every `Sequence` has one, and it just wraps that sequence. It's generic, so we don't lose the underlying sequence type.

Then, for heatmaps for example, we [extend `SequencePlots`](https://github.com/karwa/swiftplot/blob/dev/Sources/SwiftPlot/Heatmap.swift

[2019-12-10 20:01] KarthikRIyer commented on #27
Thanks for the explanation @karwa!

[2019-12-11 06:49] boronhub commented on #41
The example notebook isn't working in Jupyter.
It's saying Line magic command '%install' not found.

[2019-12-11 08:42] KarthikRIyer commented on #41
@boronhub the example notebook isn't updated. Are you using swift-jupyter, or colab?

[2019-12-11 12:21] boronhub commented on #41
colab

[2019-12-11 12:24] KarthikRIyer commented on #41
Plotting on colab won't work at the moment. There's some problem in that. But you can use swift-jupyter. The notebook example hasn't been updated. You can copy the code from the example in the docs.

[2019-12-15 02:08] WilliamHYZhang commented on #41
@boronhub are you still working on this? I got swiftplot on Linux working if using the notebook is giving you difficulty.

[2019-12-15 06:49] boronhub commented on #41
My VM keeps crashing so im trying to build swift on Windows. I got the notebook working, but %install still isn't working.

[2019-12-15 08:46] KarthikRIyer commented on #41
@boronhub you can try using the Linux Subsystem for Windows. So you won't need a VM to use Linux. Check this out: https://docs.microsoft.com/en-us/windows/wsl/install-win10

But you won't be able to use swift-jupyter or any GUI based applications, but you'll be able to work on SwiftPlot and won't need to build swift.

[2019-12-15 11:05] boronhub commented on #41
Yeah , I tried WSL as well but to no avail.

[2019-12-15 11:05] boronhub commented on #41
I'll figure it out soon

[2019-12-15 23:14] WilliamHYZhang commented on #41
Alright, best of luck!

[2019-12-17 14:20] boronhub commented on #41
`Installing packages:
	.package(url: "https://github.com/IBM-Swift/BlueCryptor.git", from: "1.0.28")
		Cryptor
	.package(url: "https://github.com/KarthikRIyer/swiftplot", .branch("master"))
		CoreFoundation
		AGGRenderer
		SwiftPlot
With SwiftPM flags: ['-Xcc', '-isystem/usr/include/freetype2', '-Xswiftc', '-lfreetype']
Working in: /tmp/tmp9teg7s8l/swift-install
/tmp/tmp9teg7s8l/swift-install/pack

[2019-12-17 14:24] boronhub commented on #41
error: could not build C module 'CoreFoundation'

can't seem to get over this, any suggestions ?

[2019-12-17 16:19] KarthikRIyer commented on #41
@boronhub where are you getting this error? Could you provide more details?

[2019-12-17 19:00] boronhub commented on #41
upon executing

%install-swiftpm-flags -Xcc -isystem/usr/include/freetype2 -Xswiftc -lfreetype
%install '.package(url: "https://github.com/IBM-Swift/BlueCryptor.git", from: "1.0.28")' Cryptor
%install '.package(url: "https://github.com/KarthikRIyer/swiftplot", .branch("master"))' SwiftPlot AGGRenderer

in a jupyter notebook (used WSL)

[2019-12-17 19:08] KarthikRIyer commented on #41
@boronhub I haven't seen this error before and am having trouble using jupyter notebook in WSL. But you do not need jupyter to work on swiftplot. You can still use the command line.

[2019-12-17 19:32] boronhub commented on #41
Is there any documentation for this?

[2019-12-17 19:42] WilliamHYZhang commented on #41
Try installing swift on ubuntu linux here: https://itsfoss.com/use-swift-linux (use the most recent swift version files)

[2019-12-19 09:58] #40 closed

[2019-12-19 23:06] WilliamHYZhang opened #70 "Implement more annotation types"
Hi,

I was interesting in possibly making more annotation types conforming to the new protocol. Currently, I plan on adding support for arrows as well as boxes.

For arrows, I was thinking of perhaps specifying types of arrows from their symbols (e.g. ➔, ➙, ➛, ➜, ➝, ➡, etc) could all be options, other arguments would be location (where tip of arrow is pointing), color, size, etc. and we would use

[2019-12-20 00:19] anigasan commented on #41
@boronhub  - Looks like you are opening in python notebook, %install etc. will not work in Jupyter. I tried installing packages through Anaconda and Python and was not successful.

Alternatively, you can use the route mentioned by @WilliamHYZhang ...It is working!

Also, I tried using Docker image https://github.com/apple/swift-docker.  It works as well, but requires some minor tweaks.

[2019-12-20 07:18] KarthikRIyer commented on #70
We can take a look at the kind of annotations matplotlib provides here: https://matplotlib.org/3.1.1/tutorials/text/annotations.html

For arrows, we can take in its start point and end point (instead of size), color, thickness/stroke width maybe? Instead of using symbols, we should think of names/symbol notations for each kind of arrow.
This will be more convenient. You will also have to write som

[2019-12-20 22:16] WilliamHYZhang commented on #70
Thanks for the suggestions! I'll work on the arrow implementation first and submit a PR when I'm done.

[2019-12-20 22:19] KarthikRIyer commented on #70
Will you be doing this as part of GCI? If so I just wanted to know if you're able to claim another instance of that task.

[2019-12-20 23:10] WilliamHYZhang commented on #70
I would love to! However, I can't find that task anymore since I already completed it. May you please create another task for SwiftPlot contributions so I can claim it? Thank you!

[2019-12-23 21:18] WilliamHYZhang opened #72 "strokeWidth argument when calling renderer.drawLine() not working with AGGRenderer"
Discovered this while working on the arrow annotations, changing the width of the line seems to have no effect on the line width in the output with AGGRenderer.

[2019-12-25 14:12] #72 closed

[2019-12-28 14:15] KarthikRIyer opened #75 "Create single renderer function to draw Rect with fillColor and border"

[2019-12-28 19:30] anigasan commented on #38
Hi Karthik, Can I work on this task? I would like to build a pie chart similar to the example provided.

[2019-12-28 19:30] anigasan commented on #38
I am GCI'19 participant

[2019-12-29 04:25] KarthikRIyer commented on #38
Sure @anigasan . Be sure to claim the task on the GCI website and specify there which issue you plan to work on. Let me know if you need any help getting started.

[2019-12-29 15:02] WilliamHYZhang opened #76 "Create New Function for Coordinate Conversion"
It would be beneficial to have a function that simply converts coordinate points to absolute points on the image, and use that function for all the annotations and other applications that will eventually use them.

From @KarthikRIyer:

If this function is to be used by the plots too then it would be better to put it under HelperFunctions.
It would be better to discuss this with others before movin

[2019-12-29 16:47] anigasan commented on #38
I am currently completing other task and wanted to get head-start for this task. Can I start work without claiming task? That way I will setup the environment, etc.?

[2019-12-29 16:52] KarthikRIyer commented on #38
Sure!

[2019-12-29 17:11] anigasan commented on #38
Thanks @KarthikRIyer ! I will start preparing for drawing basic pie-chart!! Which example that I should look at?

[2019-12-29 17:12] anigasan commented on #38
or other modules (such as Line Chart, etc.)?

[2019-12-29 18:08] KarthikRIyer commented on #38
Ananya, you can take a look at LineChart.swift to see how a Plot type is made. Also take a look at Renderer.swift, and the AGGRenderer , SVGRenderer and QuartzRenderer modules to see how primitives are to be drawn. There are a few other files you would need to see to understand how you the Plot type is created, for that just follow LineChart.swift and a search through the codebase for anything you

[2019-12-30 02:40] anigasan commented on #38
Thanks and I will start getting myself familiar with the other

[2019-12-30 07:46] WilliamHYZhang commented on #38
Great to see another GCI participant working on SwiftPlot. Good luck on your task!

P.S. If you'd like, in addition to legends, you can also try to use the new ```Text``` annotation to overlay text onto the pie chart.

[2019-12-30 13:52] WilliamHYZhang commented on #76
Currently, I'm planning on writing out the function in ```HelperFunctions``` and rolling it to only the annotations at first. Later, we can see if the other files would benefit from this as well.

[2019-12-30 20:26] boronhub commented on #53
swift-jupyter isn't working still

[2019-12-30 20:29] boronhub commented on #53
@rickwierenga have you tried using the linux port of swift?

[2020-01-01 21:32] WilliamHYZhang opened #77 "Fails to install on swift-jupyter"
Using the latest release of swift-jupyter, installing SwiftPlot seems to fail with a file not found error for ```gpc.h```.

Input:
[code]
Output:
[code]

[2020-01-01 21:34] WilliamHYZhang commented on #53
SwiftPlot with Linux port of swift seems to be working fine. swift-jupyter is also giving me some difficulty. @boronhub @rickwierenga are you getting the same issue as #77?

[2020-01-01 22:32] WilliamHYZhang commented on #77
It's definitely something to do with the `AGGRenderer`, installing `SwiftPlot` by itself works fine.

[2020-01-02 07:27] #77 closed

[2020-01-02 07:32] KarthikRIyer commented on #77
@WilliamHYZhang I'm not sure why this error wasn't showing up earlier.
It wasn't building even when using the latest S4TF toolchain.
It was indeed due to the missing gpc.h file. This file is for the Generic Polygon Clipper library that is included with AGG. AGG uses make as it's build system and therefore doesn't have the header and source files inside it's main codebase. It links the library usin

[2020-01-02 07:40] KarthikRIyer commented on #76
@WilliamHYZhang you can move forward with writing the function. We'll definitely need it for the annotations. We can decide later if we should replace it in the Plots. Create an overload for the functions to use just one point or an array of points. If we want to use it for plots, we don't wan't a large number of function invocations in case there are many points to process.

[2020-01-02 10:41] karwa commented on #76
The thing about a helper function is that we don't actually know where the plot will be until we lay it all out; and depends on things like whether you have axis labels on/off. We actually have several useful coordinate systems. For example, matplotlib defines 9 of them:

[code]
From: https://matplotlib.org/gallery/text_labels_and_annotations/annotation_demo.html#specifying-text-points-and-annotat

[2020-01-02 14:06] WilliamHYZhang commented on #77
Yep! Works perfectly with swift-jupyter now. Thank you for the quick fix.

[2020-01-02 20:49] WilliamHYZhang commented on #76
Thanks for the comments, will work on implementation. :+1:

[2020-01-02 21:35] WilliamHYZhang opened #81 "Missing points, strange errors in line graph"
When plotting line graph, some points aren't being plotted. Came across this bug when working on ML with S4TF and using SwiftPlot to visualize accuracy. Note that the "train" series for epoch 1 is missing.

![image](https://user-images.githubusercontent.com/39932068/71692477-fb60ba80-2d77-11ea-87f5-9f8aee9f1b2c.png)

It has something to do with the y axis scaling, it's really acting quite strange.

[2020-01-02 22:05] WilliamHYZhang commented on #81
Also, when dealing with decimals sometimes the graph doesn't show anything at all. For example, floats that are very close to each other in y-value.

[2020-01-03 04:32] KarthikRIyer commented on #81
I'm not sure if @karwa's PR will fix this because it doesn't change the output in any way. Thank's for reporting this. I'll take a look as soon as I can.

[2020-01-03 08:53] karwa commented on #81
Yes that PR doesn't fix this AFAIK.

[2020-01-03 19:45] WilliamHYZhang commented on #76
Ok, so instead of taking in a `Point` as the `location` argument, we would take a `Coordinate` instead. We than make the `draw` function have an additional argument, `point`, which will be passed through `GraphLayout` after it resolves the `Coordinate` into absolute positions.

[2020-01-03 20:28] WilliamHYZhang commented on #76
Actually, I think we can just overwrite the `location` in `GraphLayout`. Will add this as a requirement in the `Annotation` protocol.

EDIT: just realized that some annotations don't have` location`, for example arrow, which has `start` and `end` of type `Point`. Maybe we can change this `location` to an array of `Point`s instead, and `GraphLayout` will resolve all of them appropriately?

[2020-01-03 22:01] rickwierenga commented on #53
https://github.com/KarthikRIyer/swiftplot/issues/77 seems to be fixed. Colab works too, despite a lot of warnings generated by the Swift compiler. See [this example](https://colab.research.google.com/drive/1mXLa_ViyA03-0KrLoKA-i-QFg-xRiZBo).

Unfortunately, live view does not work in Colab but I doubt that's an error in SwiftPlot. It is possible to download the image and view it locally. I have no

[2020-01-03 22:08] WilliamHYZhang commented on #53
:+1: That's great everything is working now with the install and usage. I actually have an idea to get live view working on Colab btw, will update later. @rickwierenga Are you planning on working on the SwiftPlot task soon?

[2020-01-03 22:17] rickwierenga commented on #53
It would be great if live view were supported. Let me know if you need help implementing it.

@WilliamHYZhang I'm actually doing a Python TensorFlow task now, but I hope to make a contribution to SwiftPlot before the contest ends.

[2020-01-03 22:22] WilliamHYZhang commented on #53
Great, sounds good!

[2020-01-04 10:19] #81 closed

[2020-01-04 17:35] KarthikRIyer commented on #38
@anigasan are you still working on this? Any progress?

[2020-01-04 23:14] anigasan commented on #38
Hi @KarthikRIyer, Due to one of the other tasks, I ran into space issues with my notebook and hence switched off my docker instance for the moment. I will be reinstalling Swift by Tue and will work on the task. Apologies for delay!!

[2020-01-05 03:59] WilliamHYZhang commented on #76
Please continue discussion at #88

[2020-01-05 04:58] KarthikRIyer commented on #38
No worries. Just wanted to know if you were stuck somewhere.

[2020-01-05 05:21] anigasan commented on #38
Thanks @KarthikRIyer !

[2020-01-13 09:44] boronhub commented on #75
Can I work on this ?

[2020-01-13 10:12] KarthikRIyer commented on #75
Sure @boronhub !

[2020-01-13 17:08] areebg9 commented on #39
Hi! I'm not sure whether I'll take this task or not, but is it okay if I look at it in the meantime?

Thanks!

[2020-01-13 17:10] KarthikRIyer commented on #39
Sure @Qwerty71 ! Let me know if you need any help getting started.

[2020-01-13 18:20] boronhub commented on #75
[code]

isn't this what is required from this task ?

[2020-01-14 14:02] KarthikRIyer commented on #75
Yes @boronhub . But you need to add the function to the Renderer protocol first and then add implementations to each Renderer.

[2020-01-14 17:09] boronhub commented on #75
And in my PR, do I have to remove the original two rectangle functions or no?

[2020-01-14 17:21] KarthikRIyer commented on #75
Don't remove those functions. They might come in useful somewhere.

[2020-01-14 17:46] boronhub commented on #75
Dosen't `drawSolidRectWithBorder` fit this criteria ? It's working right now across all three renderers. It also exists in Renderer.swift

[2020-01-14 22:52] WilliamHYZhang commented on #75
@boronhub, I think that we want a function that does the `drawRect` and `drawSolidRect` part all at once, as the renderers themselves should support it. You don't use `drawRect` or `drawSolidRect`, you  replace `drawSolidRectWithBorder` that uses each renderer's own support of it, instead of overlaying rects which is happening now. Hope this makes some sort of sense.

[2020-01-17 23:41] areebg9 commented on #39
Hey! I was wondering how to resize a plot so that it's in a 1:1 ratio (for example, ax.set_aspect() in matplotlib in python). I've got the polar coordinates working, I just need to get it into an organized package file.

In addition, am I allowed to use LineChart within my implementation? Or would you like me to create it from scratch?

[2020-01-18 07:08] KarthikRIyer commented on #39
At the moment there's no way to set the aspect ratio. But while creating the plot the end user may set the width and height of the plot in the initializer.

I'd be interested to see how you've used LineChart to get polar plots working. Also, could you share preliminary plots that you have been able to make?

[2020-01-18 13:23] areebg9 commented on #39
Sure! Should I add the notebook to /Notebook or just link it here? It goes
through all the procedures and how they should be implemented.

On Sat, Jan 18, 2020, 2:08 AM Karthik Ramesh Iyer <notifications@github.com>
wrote:

[2020-01-18 14:42] areebg9 commented on #39
<img width="954" alt="Screen Shot 2020-01-18 at 9 40 56 AM" src="https://user-images.githubusercontent.com/33108072/72665447-a313f480-39d6-11ea-8fed-4a3550185034.png">

Here's a basic polar plot that I made. I had to hard-code the circles, but when I implement them, I'll automate them to behave such as grid lines. Inside, there is a limacon with 4 "petals," and a spiral.

As you can see, the image

[2020-01-18 14:44] areebg9 commented on #39
If you look at the legend, you'll see that it contains a graph for how `addFunction` would work (e.g. r = 2costheta) and `addSeries` (hardcoded values for r and theta).

[2020-01-18 15:01] areebg9 commented on #39
I've selected this task on the GCI homepage - I linked to my notebook there.

[2020-01-18 19:01] anigasan commented on #38
Hi Karthik - I have started working on piechart from today and am looking at Line Chart / Bar Chart to get some understanding. thanks

[2020-01-19 04:21] #70 closed

[2020-01-19 08:49] KarthikRIyer commented on #38
Good luck @anigasan !

[2020-01-19 08:55] KarthikRIyer commented on #39
There's no way to set the aspect ratio explicitly. You'll have to set the width and height. Also I'd prefer if you didn't reuse LineChart to implement polar plots because in a polar plot we don't want the coordinates to be (x,y), but (r,θ) just like in matplotlib. We want results as close as possible to matplotlib so that people can transition from matplotlib to swiftplot easily.

[2020-01-19 10:59] #76 closed

[2020-01-19 10:59] #75 closed

[2020-01-19 14:35] areebg9 commented on #39
Alright. In this version, the user does still enter in r and theta, the
Cartesian conversion is done behind the scenes.

On Sun, Jan 19, 2020, 3:55 AM Karthik Ramesh Iyer <notifications@github.com>
wrote:

[2020-01-19 15:44] CREVIOS opened #101 "Will it Work ?"
Can i add the polar and piechart in following way :

Swift for TensorFlow includes python interoperability.
[code]
<b>plt.polar and plt.pie should just work.</b>

[2020-01-19 15:45] CREVIOS commented on #101
I want to do it For GCI .

[2020-01-19 16:40] boronhub commented on #101
Hi there! I don't think we are looking for solutions using Python interop, so please try implementing solutions in Swift using one of the three renderers. Best of luck!

[2020-01-19 17:03] areebg9 commented on #101
Hey! I recommend checking this out in the Issue with the GCI task - if you see, it looks like these two tasks (polar and pie chart) are already being done by other competitors, so I recommend you ask @KarthikRIyer if there are any other tasks to do.

[2020-01-19 17:09] boronhub commented on #101
@CREVIOS you can do the stacked line chart task, I was planning on submitting a PR but since I have already completed another GCI task, you can do that one.

[2020-01-19 18:43] Qwerty71 commented on #39
Hey! I've got a question about `FloatConvertible`, anyone who knows about it feel free to answer :)

How do I convert from a `Float` to `FloatConvertible`? As far as I know, `FloatConvertible` is an extension of `Float`, such that if I run the following code:

[code]

where `.toFloat()` is a function provided by `FloatConvertible`, it works (and I have checked that it works) . However, I whenever

[2020-01-19 19:11] WilliamHYZhang commented on #101
Good luck @CREVIOS! Let us know if you need any help.

[2020-01-19 19:24] KarthikRIyer commented on #101
@CREVIOS the aim of these tasks is to implement plot types in in this library using just swift. We do not want to use python at all. The motive of the library is that anyone should be abke to plot graphs by providing the data. We do not want to use matplotlib to draw the graph. SwiftPlot is a library like matplotlib buy in Swift.
Polar and pie chart have already been claimed so of you want to work

[2020-01-19 19:26] Qwerty71 commented on #39
By the way, `T` and `U` are parameters of `PolarGraph`

[code]
... and so on.

[2020-01-19 19:27] Qwerty71 commented on #39
Sorry if this is an easy question, I'm new to Swift :)

[2020-01-19 22:23] areebg9 commented on #39
Just an update - I've solved my previous problem (converting Float to FloatConvertible), and I've got the code working (I just modified the code for LineChart.swift, I will mention that on the top of the code). All I need to do now is add the circle "gridlines," and I'll also see if I can fix the aspect ratio as well.

The notebook demonstrating how it works (now updating, actually getting code fr

[2020-01-19 23:10] areebg9 commented on #39
Would you like me to provide compatibility with all of the `addSeries` functions (you can either input a list of `Point`s, `x` and `y`, or just `y`)?

[2020-01-20 00:54] Qwerty71 opened #103 "Using SVGRenderer and QuartzRenderer"
Hi! I tried to use SVGRenderer and QuartzRenderer, but I keep on getting this error:

[code]

My code is here:

[code]

The same happens with `QuartzRenderer`. How can I fix this?

[2020-01-20 03:04] anigasan commented on #38
Hi Karthik, QQ - To draw wedges, do I use DrawPolygon primitives?

thanks

[2020-01-20 09:48] KarthikRIyer commented on #103
@Qwerty71 if you want to use SVGRenderer you need to compile it's module while including the library. Similiar to how you write AGGRenderer at the end of the %install statement.
`%install '.package(url: "https://github.com/KarthikRIyer/swiftplot", .branch("master"))' SwiftPlot AGGRenderer SVGRenderer QuartzRenderer`

But QuartzRenderer probably won't work with jupyter. It's available only on macOS

[2020-01-20 09:50] KarthikRIyer commented on #38
Wedges aren't polygons. So I think you should draw two lines and implement a function to draw an arc.

[2020-01-20 09:53] KarthikRIyer commented on #39
Input can be an array of (r,theta) or single r,theta pairs.

[2020-01-20 09:54] KarthikRIyer commented on #39
Instead of trying to fix the aspect ratio, just use one parameter like imageSize, which will be both the width and height of the image.

[2020-01-20 15:32] anigasan commented on #103
@KarthikRIyer - I was getting same error for SVGRenderer even after adding to %install statement.

[2020-01-20 15:33] anigasan commented on #38
Sure, I will try! Thanks for the guidance.

[2020-01-20 17:21] Qwerty71 commented on #103
Hey @anigasan , I ran it with the %install and it worked.

When I installed SwiftPlot, I ran this:

[code]

[2020-01-20 18:45] anigasan commented on #103
My bad, I was typing SGGRenderer in my import!! When I corrected it, it started working!

[2020-01-20 19:37] KarthikRIyer commented on #103
No worries :D @anigasan

[2020-01-20 19:37] #103 closed

[2020-01-23 06:16] areebg9 commented on #39
Hey, I'm getting this error after trying to install SwiftPlot after making my changes:

```undefined symbol: _ZN14CPPAGGRenderer17draw_empty_circleEfffPKv```

I created a new function, draw_empty_circle as per the task request. I checked in all the .cpp and .h files for AGGRenderer, CAGGRenderer, and CPPAGGRenderer, and it's defined in all of those.

The inputs of (r, theta) are working for both a

[2020-01-23 06:19] KarthikRIyer commented on #39
Could you open a PR with your updated code. I'll take a look.

[2020-01-23 06:22] areebg9 commented on #39
With the current code (that produces the error)? Or everything without that portion?

[2020-01-23 06:23] KarthikRIyer commented on #39
The complete code with the error.

[2020-01-23 06:24] areebg9 commented on #39
Ok.

[2020-01-26 17:10] anigasan commented on #38
@KarthikRIyer I want to contribute to the task to closure! Can you please provide guidance on drawing wedges?

[2020-01-27 12:58] KarthikRIyer commented on #38
I'm glad that you want to take this task to closure! I'll need some more time to look into it in detail. I'll get back to you soon.

[2020-01-28 15:59] KarthikRIyer commented on #38
@anigasan this task is definitely not trivial (especially in the case of the AGGRenderer). It doesn't have good documentation (actually next to no documentation). So you'll have to go through the code of the AGG library and try to find a solution. I took a brief look at the code and found this:

https://github.com/KarthikRIyer/swiftplot/blob/71f5e6c05aa03f06480482c2092783b6e17f44e9/Sources/AGG/inc

[2020-01-28 16:28] KarthikRIyer opened #115 "Library Documentation"
@karwa I am not able to recall what you'd said about updating the docs. From what I can recall, you'd suggested to remove it from the README and instead use some specific kind of comments in the code. What would be the advantage apart from the README getting cleaner? Could you please describe it briefly? Sorry I'm unable to recall where we had that conversation. 😅

[2020-01-29 00:24] anigasan commented on #38
Thank you very much @KarthikRIyer. I had tried with bezier_arc and it was drawing one wedge. It was failing with more wedges.  I will try again with these inputs in the next few days and come back to you.

[2020-01-29 07:25] KarthikRIyer commented on #38
@anigasan can you open a PR with the additions you made? Maybe we could try to find a solution after looking at your code.

[2020-01-29 07:50] karwa commented on #115
I don't know where that conversation is.

Swift has an [official documentation comment](https://nshipster.com/swift-documentation/) style which is a kind of markdown and understood by the compiler. This has lots of benefits: for one thing, it's less likely to go out-of-date because it lives with the code, and compiler-integrated tooling like SourceKit can use it for documentation popouts in any ed

[2020-01-30 15:21] vojtamolda opened #117 "Example notebooks don't work in Colab but work in Jupyter"
Hello everyone,

I'm having trouble running the machine learning [example notebook](https://github.com/KarthikRIyer/swiftplot/tree/master/Notebooks) in [Google Colab](https://colab.research.google.com/github/tensorflow/swift/blob/master/notebooks/blank_swift.ipynb). When I open and run the cells, the compiling, installation and execution happen perfectly without errors but none of the plots are di

[2020-01-30 15:34] KarthikRIyer commented on #117
@vojtamolda The notebooks use pure swift to generate the Jupyter messages. For some reason that does not work on colab. To display the plot on colab, instead of including the `EnableJupyterDisplay.swift` file use this:

[code]

This is also mentioned in the README under **How to include the library in your Jupyter Notebook**.

Hope this helps :smile:

[2020-01-30 15:42] vojtamolda commented on #117
Oh... Thanks for such a quick response and sorry that I missed it in the readme file.

I see now. It works around the bug by using the Python bridge that should be theoretically passing the same messages as the code in `EnableJupyterDisplay.swift` but somehow it actually works.

[2020-01-30 15:42] #117 closed

[2020-01-31 03:51] anigasan commented on #38
Hi @KarthikRIyer - Sorry for the delay in reply!! I will do PR over weekend to submit partial work. Thanks

[2020-02-05 14:47] karwa opened #118 "Brainstorm solutions to the 'farmer problem'"
There is a bit of API awkwardness when making plots for arbitrary data types, which came up during the review for #116 (CC @odmir). Consider the following example (using a generic bargraph). We want a bargraph of people by their height, with the formatter giving us access to full `Person` objects from which we can get the name:

[code]

Copying out the heights isn't great:

[code]

The same proble

[2020-02-05 19:00] karwa commented on #115
Also, https://github.com/SwiftDocOrg/swift-doc is an interesting project, able to generate documentation from the markdown format.

There are still some issues, and although there's a GitHub action, I couldn't get it to automatically generate Wiki pages on my fork. That said, it does a reasonable job:

<img width="1096" alt="image" src="https://user-images.githubusercontent.com/5254025/73873558-1c

[2020-02-05 19:12] KarthikRIyer commented on #115
This looks really interesting!! Sorry for not being active lately. I've been busy in a hackathon ( that my team eventually won :D ) and have some upcoming presentations. I'll try catching up to everything I've missed this weekend.

[2020-02-06 13:39] #101 closed

[2020-02-25 01:10] noahtren opened #119 "issue in starting example | error: call can throw but is not marked with 'try'"
Hey, thanks so much for making this package! I'm getting into Swift for TF and am so glad that there's a platform-independent plotting library to use.

I ran into a minor error when running the [simple line graph example](https://github.com/KarthikRIyer/swiftplot#simple-line-graph). The Swift compiler seems to expect error-handling from `lineGraph.drawGraphAndOutput` since there's a chance that it

[2020-03-04 21:35] arguiot opened #120 "Allow SVGRenderer to export the result from memory"
Instead of saving, it would be cool to have somehting like:
[code]
Implementing would be very easy:
[code]

[2020-03-07 09:33] KarthikRIyer commented on #120
@arguiot thanks a lot for creating the issue! Is it something you'd like to take up?

[2020-03-07 12:38] arguiot commented on #120
Well, I can submit a PR if you want

[2020-03-07 13:24] KarthikRIyer commented on #120
Sure! @arguiot

[2020-03-09 13:41] #120 closed

[2020-04-12 06:32] clsx524 opened #122 "Fail to install in docker"
Hi, I tried to install it in a custom ubuntu 18.04 docker.
The swift tool chain is https://storage.googleapis.com/swift-tensorflow-artifacts/nightlies/latest/swift-tensorflow-DEVELOPMENT-x10-cuda10.1-cudnn7-ubuntu18.04.tar.gz

The swift kernel is added according to [swift-jupyter](https://github.com/google/swift-jupyter) by
`python register.py --sys-prefix --swift-toolchain <path to extracted swif

[2020-04-12 11:01] KarthikRIyer commented on #122
I'm not sure why this is happening. I haven't tested with the cuda toolchain.
But it works with the instructions here: https://github.com/KarthikRIyer/swiftplot/blob/master/Swiftplot_Docker_setup.md

The issue might be on the side of swift-jupyter (because it works for you the second time you execute the cell). Maybe @marcrasi might be able to shed some light on this?

[2020-04-14 15:02] migueldeicaza opened #124 "For your consideration: SkiaKit"
When this project was announced, I decided to bind Google's Skia library for Swift, which is quite comprehensive and provides the rendering engine to both Google Chrome and Android.

It is also cross platform out of the box, in case you want to look at it:

https://github.com/migueldeicaza/SkiaKit

[2020-04-14 16:58] KarthikRIyer commented on #124
This looks really interesting! If we use this in SwiftPlot we can worry less about supporting cross-platform rendering backends.

Does this work on Linux? I can see only apple based platforms in the Package.swift file.

Thanks a lot for sharing @migueldeicaza !

[2020-04-15 20:31] migueldeicaza commented on #124
Well, eventually it should work on Linux, I have not tried that part yet, it should be relatively easy to make it work on Linux, as this is purely a binding, and the native payload comes from a separate place (there is a separate discussion on how to provide binaries for this on the assorted Linux distributions, but we can discuss that).

[2020-06-10 20:27] nimrodsun commented on #122
Hi, is swiftplot still being maintained?

I tried the above and it didn't seem to work.

[2020-06-10 20:58] KarthikRIyer commented on #122
Hi, @nimrodsun

I occasionally take a look at comments/issues but haven't been able to find the time to actively work on/maintain SwiftPlot.

I'm not sure why it doesn't work with the custom docker. That might need more investigation.

Did you follow these steps: https://github.com/KarthikRIyer/swiftplot/blob/master/Swiftplot_Docker_setup.md

Also, what error are you getting?

[2020-07-07 11:24] kongzii commented on #122
I can confirm the issue, but I could not find a solution :( The message:

[code]

Its interesting that it fails only like 3 from 5 attemps.

[2020-08-19 13:19] arguiot opened #125 "Frame selection on LineGraph and ScatterPlot"
It would be awesome to select the frame size and position, especially on `LineGraph` and `ScatterPlot`. For the moment, only `minX` and `maxX` exists, but you can't really define the maximum height/position of the frame.

The main benefit of this would be to enable an interactive graph that could respond to the touch/drag events. Of course, none of this **ahs** to be implemented inside SwiftPlot i

[2020-08-19 13:41] KarthikRIyer commented on #125
This is a good idea. Thanks for creating the issue!
Would you be interested in contributing this feature @arguiot ?

[2020-08-19 13:46] arguiot commented on #125
@KarthikRIyer why not. I just have no idea how to do it or where to start. If you can give me some indication/help I think I could open a PR.

[2020-08-19 14:01] KarthikRIyer commented on #125
Building and running tests for SwiftPlot should be simple enough. Just clone the repo and run `swift build` and `swift test` from the project root directory.  You might need to install freetype if it's not installed already. You can find the instructions to do that on your platform in the README.

Take a look at [this](https://github.com/KarthikRIyer/swiftplot#how-does-this-work) section of the RE

[2020-08-19 14:15] arguiot commented on #125
Alright, thank you for the information. If I need more help I'll tell you.

[2020-08-19 15:23] arguiot commented on #125
@KarthikRIyer I just have a problem running the tests. All the tests are failing for no reason (I mean, yeah they're failing for a reason, but since I didn't change much of the code they shouldn't fail).

![chart](https://user-images.githubusercontent.com/18022260/90653823-aa6ddb80-e20d-11ea-99c0-e33f1d185192.png)

![chart](https://user-images.githubusercontent.com/18022260/90653942-d2f5d580-e20d-

[2020-08-20 14:00] KarthikRIyer commented on #125
Do the tests pass before you make changes to the code?

[2020-08-20 14:59] arguiot commented on #125
No they didn't... maybe this is a Xcode problem (I'm on macOS BigSur with Xcode 12)

[2020-08-20 23:32] KarthikRIyer commented on #125
I'll take a look. But I use Ubuntu so I might not be able to help on the macOS front. Also I'm a little preoccupied this week so my responses might not be prompt.

[2020-09-15 07:02] clsx524 commented on #122
I tried again just then, seems resolved somehow.

[2020-09-15 07:02] #122 closed

[2020-09-30 19:11] KarthikRIyer commented on #125
@arguiot did you try using docker?

[2020-10-02 13:00] arguiot commented on #125
No I haven't but I could try

[2020-10-05 15:23] KarthikRIyer commented on #125
@arguiot did you get a chance to try docker?

[2020-10-05 15:27] arguiot commented on #125
No. I had a pretty busy week (and more are coming) so I couldn't find some time to do it. I keep the idea in mind don't worry but I'm really not in a hurry. I don't care if this feature is added next week or in the next months.

[2021-04-13 01:42] neutralino opened #126 "LineGraph hangs for certain data points"
A LineGraph with the following points appears to hang indefinitely:
[code]
(e.g. replacing the points in `testLineChartSingleSeries` with the points above).
It looks like the issue is within LineGraph's `calculateMarkers` method (when computing `xM`), though it's not clear to me what the fix should be.  Replacing the y point 2.01 with a value of 2.0 or less works as expected.

[2021-05-12 23:59] fwcd opened #127 "Build failure on Swift 5.4"
`swiftplot` fails to build on Swift 5.4 (Ubuntu 20.04):

[code]

[2021-05-25 15:40] mizhkeao commented on #127
I'm getting a similar error when importing AGGRenderer on MacOS 11.3.1:

<img width="918" alt="Screen Shot 2021-05-25 at 23 35 24" src="https://user-images.githubusercontent.com/55338389/119526750-3cfd6580-bdb2-11eb-865d-627a789201d0.png">

Here is my package manifest:
[code]
When will #128 get merged?

[2021-05-25 16:20] KarthikRIyer commented on #127
Apologies for the delay. I've updated the CI to use Swift 5.4. Once #128 is rebased to the latest master and the CI passes, I'll merge it.

[2021-05-25 17:54] #127 closed

[2021-05-25 17:56] KarthikRIyer commented on #127
@mizhkeao #128 is merged now. It builds on Swift 5.4. There's a test failure on Ubuntu which will need some investigation. It seems you're on mac, so you're issue should get resolved. Please let me know if it's fixed.

[2021-12-31 00:53] philipturner opened #132 "Support on Google Colab"
I just revived support for [Swift on Google Colab](https://github.com/philipturner/swift-colab) and changed how it used SwiftPlot. Is there a more comprehensive test suite I can run besides the one example given on [google/swift-jupyter](https://github.com/google/swift-jupyter)?

[2021-12-31 03:07] KarthikRIyer commented on #132
There's a test suite in swiftplot: https://github.com/KarthikRIyer/swiftplot/tree/master/Tests

To run it on colab, you'd need to modify each test to get a base64 image.

[2021-12-31 03:10] KarthikRIyer commented on #132
Is the new mechanism coupled with swiftplot, that requires a comprehensive test suite for colab support?

[2021-12-31 04:10] philipturner commented on #132
It isn’t much change. I just patched up EnableIPythonDisplay.swift. I didn’t add much content, and you can compare the files in Sources/SwiftColab/include to google/swift-jupyter. I just thought it would be a good idea to test out Swift on Colab, and it’s been so long that something might break naturally.

Sent from my iPhone

[2021-12-31 04:15] philipturner commented on #132
Rather than Swift Package tests, I’m looking for a Colab notebook. You could call git clone on your repository to get files (%system commands), but I’m concerned with how stable the communication between SwiftPlot and IPythonDisplay is. In other words, I’d like to see more graphs than the 2 shown on swift-jupyter.

I’m not that familiar with SwiftPlot and don’t have the time to be, but I assume th

[2022-01-01 14:06] philipturner commented on #132
@KarthikRIyer any update on the Colab notebook?

[2022-01-07 18:02] annapurnarelan20 opened #133 "compiling error with "Freetype" library in Xcode project"
Hi,
After doing all the steps for installation Swiftplot in my project,
I installed freetype lib with brew
and still getting the error as shown in the screenshot.

Plese help ! as I am stuck ...
<img width="1509" alt="Screenshot 2022-01-07 at 11 26 21 PM" src="https://user-images.githubusercontent.com/47179317/148586817-3906a3eb-601d-4b9a-ba03-f6bb72cab753.png">

[2022-01-07 18:50] KarthikRIyer commented on #133
Hi

The error says that you're trying to build for iOS, but the freetype dylib is built for macOS. Freetype is used by the AGGRenderer. This does not have support for iOS right now. For iOS you can use the QuartzRenderer.

To build swiftplot itself for iOS, you need to make a change to the Package.swift file as mentioned here:
https://github.com/KarthikRIyer/swiftplot/blob/7cface0237635b9d48142969

[2022-01-09 06:50] annapurnarelan20 commented on #133
yes thanks @KarthikRIyer  ,was not able to edit the  Package.swift as added the libaray as dependency , have to do that as you suggested will check this out how to add it as local dependency then will be able to do that.

Thanks for the Quick Support.

[2022-01-18 18:27] philipturner commented on #132
I really need a test suite like the ones posted on Swift-Colab's README. It should use a similar format and might come with image files of what each graph is expected to look like. This should be a long-term validation test of whether `IPythonDisplay.swift` is functioning correctly. Anyone in the data science community could create the test suite, assuming they've learned your graphing API.

To cl

[2022-01-18 19:00] KarthikRIyer commented on #132
Apologies for the delayed response. I haven't been keeping well for a while.

I haven't had the bandwidth to work on swiftplot. And converting all the unit tests to tests on colab is a time consuming process. Porting a single test to colab shouldn't need a lot of familiarity with the API though. You just need to get the base64 image as shown in the AGGRenderer tests and use the display function.

[2022-01-18 19:04] philipturner commented on #132
I don't need every single unit test. Just a subset of them. Even two would be fine. Look at the lengths of the Colab notebooks that already exist for testing. I made this comment today hoping that somebody besides you or me would see it and make the short test suite.

[2022-01-21 10:43] KarthikRIyer commented on #132
Hi @philipturner
Here's a colab file with a few more plots: https://colab.research.google.com/drive/1Rxs7OfuKIJ_hAm2gUQT2gWSuIcyaeZfz?usp=sharing

The subplots output isn't right. Seems like a bug in the function that returns the plot as base64. I didn't get the time to look into this yet. But it doesn't look like an issue with swift-colab. You could use these tests with all the plots at the defau

[2022-01-21 11:25] philipturner commented on #132
Thank you so much!!!! I can definitely patch up what you have and post it as a test! I didn’t expect that you would actually do this!

If possible, I could have you add the link to my final notebook in a PR. That would make you listed as a contributor to Swift-Colab.

Sent from my iPhone

[2022-01-21 12:23] KarthikRIyer commented on #132
No problem! Thanks for being patient, and apologies for they delay.

I've opened a PR to add the test to the README.

[2022-01-25 18:20] QSmally opened #134 "Compilation error: could not build Objective-C module 'SwiftPlot'"
Having just imported the library and compiling it using the CLI (not Xcode build). Processor is the M1, is it compatible with this library?

[code]

[2022-01-25 20:07] QSmally commented on #134
I realised I've been a dummy and not adding it to the target dependencies - works totally fine.

[2022-01-25 20:07] #134 closed

[2022-02-04 00:36] keefo opened #135 "A Code Typo in README.md"
subPlot.drawGraphAndOutput(fileName: "subPlotsHorizontallyStacked", renderer: agg_renderer)

Should be

subplot.drawGraphAndOutput(fileName: "subPlotsHorizontallyStacked", renderer: agg_renderer)

[2022-02-04 01:36] KarthikRIyer commented on #135
Thanks for reporting this @keefo !

Would you like to create a PR to fix this?

[2022-02-04 02:09] keefo commented on #135
#136

[2022-02-04 05:35] #135 closed

[2022-04-02 18:27] #132 closed

[2022-04-02 18:30] KarthikRIyer commented on #126
#131 was just merged. I'm not sure if you were facing the same issue, but this might have fixed this. Do let me know if you give it a try again with the fix.

[2022-04-06 23:34] philipturner commented on #132
Again, thanks so much for doing this. I completely rewrote the mechanism for transferring base64 images between processes, and it might be faster now. Your notebook survived the makeover and produces the exact same results!

[2022-04-09 01:29] neutralino commented on #126
Thanks, @KarthikRIyer! Yes, that fixed it, the plot renders now.

[2022-04-09 01:29] #126 closed